* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .5px;

}

/* body */

body {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
.nav-colored {
     background-color:#000000e1; 
     transition: 0.3s ease;
    }
.nav-transparent {
     background-color:transparent;
    }

/* main-background */

.main-background {
    background-image: url(./images/background-main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}


/* navigation */

nav {
    width: 85%;
    height: 5.2rem;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    margin-left: auto;
    margin-right: auto;
    

}
.nav-div {
    width: 100%;
    top: 0;
    position: sticky;
   
}
.logo {
    font-size: 25px;
}
.nav-icons {
    width: 20%;
}

@media only screen and (max-width: 1600px) {
    
    .nav-icons {
        width: 28%;
    }  
  }
.nav-links {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.-nav-links-a {
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    
    color: rgb(255, 255, 255);
}
.nav-link-li {
    list-style: none;
}

/* landing div */ 

.main-div {
    width: 100%;
    height:75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  transparent;
}
.main-div-in-01 {
    width: 80%;
    height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.main-div-01 {
    text-align: center;
}
.main-div-01-h1 {
    font-size: 60px;
    font-weight: bold;
}
.main-div-02 {
    text-align: center;
}
.main-div-01-p1 {
    font-size: 19px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.main-div-03 {
    width: 22rem;
   margin-top: 3rem;
}
.main-div-03-01 {
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-main-div {
width: 11rem;
border: 2px solid white;
text-align: center;
text-decoration: none;
height: 3rem;
display: flex;
justify-content: center;
align-items: center;
}
#btn-con {
    background-color: white;
}
.contact-btn {
    color :black;
text-decoration: none;
font-weight: 500;

}
#btn-main-div-03 {
text-decoration: none;
color: white;
}

/* About us */

.about-main {
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

.aftermenu {
    background-color: white;
}
.about-main-h1 {
    width:85%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.about-h1 {
    font-size: 25px;
    margin-bottom: 20px;
    letter-spacing: .5px;
    max-width: 43rem;


}
.about-p{
    line-height: 1.8rem;
    letter-spacing: .5px;
    max-width: 41rem;
    font-size: 16px;
    color: #666;

}
.about-main-01 {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.about-main-01-01 {
    width: 45rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:space-evenly;

}
.about-main-01-02 {
    width: 20rem;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

}
.main-picture-personal {
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end; 

}
.picture-george {
    width: 100%;
    height: 20rem;
    background-color: rgb(223, 223, 223);
}
.coute {
    width: 100%;
    background-color: rgb(53, 53, 53);
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coute-george {
    text-align: center;
    
    font-style: italic;
    font-size: 13px;
    color: white;
    max-width: 13rem;
}



/* services */

.benefit-service {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 7rem;
    display: flex;
    align-items: center;
}
.services-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.service {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
    flex: 1 1 calc(30% - 40px);
    text-align:start;
}

.service h2 {
    font-size: 23px;
    margin-bottom: 10px;
}

.service p {
    font-size: 16px;
    color: #666;
}
.service-number {
    color:#ffb717;
    font-size: 30px;

}

@media (max-width: 768px) {
    .service {
        flex: 1 1 100%;
    }
}


/* projects */


.gallery-container {
    max-width: 60%;
    margin: 20px auto;
    padding: 10px;

}

.toggle-buttons {
    text-align: center;
    margin-bottom: 20px;
    
}

.toggle-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: white;
    font-size: 17px;
    border: none;
    font-weight: bold;
    
    
}
.toggle-buttons .active {
    background-color: #ffb717;
    padding: 10px 20px;
    border-radius: 5px;


}

.projects {
    display: none;
    flex-wrap: wrap;
}

.projects.active {
    display: flex;
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(33.333% - 40px);
    text-align: center;
    cursor: pointer;
}

.project img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


